{% extends 'layout.html' %}
    {% block title %}
        {{ post.title }}
    {% endblock %}
    {% block content %}

    

    <section id="post-page" style="text-align: center; display: flex; flex-direction: column; gap: 10px;">

        <a href="{% url 'posts' %}"> ← back</a>

        <h2>{{ post.title }}</h2>
          <div style="text-align: left; cursor: pointer;" class="hover-block">
            <h4>@{{ post.created_by }} says:</h4>
            <p>{{ post.body }}</p>

          </div>
        <div style="display: flex; flex-direction: column; gap: 10px; align-items: center;">

          {% if user.is_authenticated %}

            <div style="text-align: center; display: flex; flex-direction: column; align-items: center; gap: 10px;">
              <h2>comments</h2>
              <a href="#" id="show-comments" style="width: 150px;">Add Comments</a>
            </div>

            <div id="comments" >
            
              {% if comments.count == 0 %}
                <p><em>No comments yet</em></p>
              {% endif %}

              {% for comment in comments %}
                
                  <div class="comments hover-block">
                    {% if comment.created_by == request.user %} <p style='opacity: 0.3'><em>Yours</em></p>{% endif %}

                    <h4>@{{ comment.created_by }}</h4>
                    <p>{{ comment.body }}</p>

                    {% if comment.created_by == request.user %}
                      <form action="{% url 'deletecomment' comment.id %}" method="POST">
                        {% csrf_token %}
                        <button class='delete' style="outline: none; border: none">x</button>
                      </form>
                    {% endif %}

                  </div>
  
              {% endfor %}
             

            </div>

            <form id="comment-form" action="/posts/addcomment/" method="POST" class="desactive">
              {% csrf_token %}
              <label for="comment">
                <input type="hidden" name="post_id" value="{{ post.id }}">
                Add Comment
                <br>
                  <textarea name="comment" id="comment" placeholder="be gentle" wrap="hard"></textarea>
              </label>
              <button type="submit">Add Comment</button>
            </form>

          {% else %}

              <div style="margin-top: 10px;">
                <p><em><strong>sign in to see comments</strong></em></p>
              </div>

          {% endif %}

        </div>

        <script>

          const btnShow = document.querySelector('#show-comments');
          const comments = document.querySelector('#comments');
          const formComments = document.querySelector('#comment-form');

          btnShow.addEventListener('click', (e) => {
            e.preventDefault();
            if(comments.classList.contains('desactive')) {
              comments.classList.remove('desactive')
              formComments.classList.add('desactive')
              btnShow.textContent = 'add comments'
            } else if (formComments.classList.contains('desactive')) {
              formComments.classList.remove('desactive')
              comments.classList.add('desactive')
              btnShow.textContent = 'show comments'
            }
          });

        </script>

    </section>
    {% endblock %}

